
.row {
	margin-top: 10px;
	margin-bottom: 20px;
}

.header {
	height: 85px;
}

.header h2 {
	margin-top: -6px;
}

.connectivity {

}

.float-right {
	float: right;
}

.connection.connected .connected,
.connection.not-connected .not-connected {
	display: block;
}

.connection.connected .inline.connected,
.connection.not-connected .inline.not-connected {
	display: inline;
}

.connection.connected .not-connected,
.connection.not-connected .connected {
	display: none;
}

.game-info {
	color: #ffffff;
}

.game-info .control-label {
	float: left;
	padding-left: 10px;
	padding-top: 22px;
}

.game-info .controls {
	padding-left: 100px;
	padding-top: 18px;
}