
.row {
	margin-top: 10px;
}

.well {
	margin-bottom: 5px;
}

.header {
}

.header h2 {
	margin-top: -6px;
}

#auth-status {
	line-height: 28px;
	padding: 0px 12px;
	margin: 0px 15px;
	/*border: 2px solid #44bb44;*/
	background-color: #44bb44;
	color: #ffffff;
}

.connectivity {

}

.float-right {
	float: right;
}

.connection.connected .connected,
.connection.not-connected .not-connected {
	display: block;
}

.connection.connected .inline.connected,
.connection.not-connected .inline.not-connected {
	display: inline;
}

.connection.connected .not-connected,
.connection.not-connected .connected {
	display: none;
}

.game-info {
	color: #ffffff;
}

.game-info .control-label {
	float: left;
	padding-left: 10px;
	padding-top: 22px;
}

.game-info .controls {
	padding-left: 100px;
	padding-top: 18px;
}

.p1-piece {
	background-image: url(/ags/images/check_p1.png);
}

.p2-piece {
	background-image: url(/ags/images/check_p2.png);
}
